{% extends "task/student_base.html" %}

{% block content %}
<p> </p>

<div class="container">
    <table class="table table-bordered text-center align-middle">
        <thead>
            <tr>
                <th width="10%">日時</th>
                <th width="30%">氏名</th>
                <th width="50%">詳細</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}