{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
{% if request.GET.secret == 'NeverLonely' %}
    <div id="container my-4">
        <h1>404 Not Found</h1>
        <img src="{% static 'secret/evernight.gif' %}" alt="easter gif">
        <p>Lonely♭ Lonely♭</p>
    </div>
{% else %}
    <div class="container my-4">
        <h1>404 Not Found</h1>
        <p>URLを正しく入力したかお確かめください。</p>
    </div>
{% endif %}
{% endblock %}